.header {
  position: relative;
  padding-top: 60px;
  display: flex;
  justify-content: center;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 460px;
  opacity: 1;
  background: url("../../../assets/images/spot-left.png") no-repeat;
  animation: appearanceLeftSpots 1.5s;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 460px;
  opacity: 1;
  animation: appearanceRightSpots 1.5s;
  background: url("../../../assets/images/spot-right.png") no-repeat right top;
}
@media screen and (max-width: 1279px) {
  .header {
    padding-top: 100px;
  }
  .header::after {
    width: 300px;
    height: 260px;
    background: url("../../../assets/images/spot-left-medium.png") no-repeat;
  }
  .header::before {
    width: 300px;
    height: 260px;
    background: url("../../../assets/images/spot-right-meduim.png") no-repeat
      right top;
  }
}

.header_content {
  width: 190px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  position: relative;
  top: 0;
  animation: appearance 1.7s;
}
.header_Logolink {
  height: 60px;
}
.header_Logolink img {
  object-fit: fill;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 80px;
  }
  .header::after {
    width: 170px;
    height: 180px;
    background: url("../../../assets/images/spot-left-small.png") no-repeat;
  }
  .header::before {
    width: 170px;
    height: 180px;
    background: url("../../../assets/images/spot-right-small.png") no-repeat
      right top;
  }
  .header_content {
    width: 128px;
    height: 40px;
  }
  .header_Logolink {
    height: 40px;
    display: flex;
    align-items: center;
  }
  .header_Logolink img {
    height: 40px;
    width: 40px;
  }
  .textlink_title {
    display: flex;
    align-items: center;
  }
  .textlink_title img {
    height: 31px;
    width: 76px;
  }
}

/* ======================================================== */

@keyframes appearance {
  from {
    opacity: 0;
    top: -20px;
  }
}
@keyframes appearanceLeftSpots {
  from {
    opacity: 0;
    left: -200px;
    top: -200px;
  }
}
@keyframes appearanceRightSpots {
  from {
    opacity: 0;
    right: -200px;
    top: -200px;
  }
}
