.counterPage {
  margin: 32px 0 72px 0;
  display: flex;
  justify-content: center;
}

.counter_item {
  width: 132px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.counter_points,
.counter_number {
  font-weight: 600;
  font-size: 72px;
  line-height: 100%;
  color: #162c4e;
}

.counter_title {
  width: 100%;
  height: 54px;
  background-image: url(../../../../assets/icons/wave-icon.svg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter_title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
}
