.contentPage {
  padding-top: 93px;
  flex-grow: 1;
}
@media screen and (max-width: 1279px) {
  .contentPage {
    padding-top: 168px;
  }
}
@media screen and (max-width: 767px) {
  .contentPage {
    padding-top: 66px;
  }
}
.contentPage_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  top: 0;
  opacity: 1;
  animation: appearance 1.7s;
}
.contentPage_title {
  font-weight: 700;
  font-size: 72px;
  line-height: 104%;
  text-transform: uppercase;
  color: #162c4e;
  opacity: 0.39;
}

.contentPage_subtitle {
  width: 423px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1279px) {
  .contentPage_title {
    font-size: 36px;
  }
  .contentPage_description {
    gap: 20px;
  }
  .contentPage_subtitle {
    width: 286px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .contentPage_description {
    gap: 16px;
  }
}

.contentPage_Link {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  top: 0;
  opacity: 1;
  animation: appearance 1.7s;
}

.link_description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
}

.link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  color: white;
  width: 240px;
  height: 60px;
  background: #1d4169;
  border-radius: 40px;
}

.link_title {
  font-size: 18px;
}
@media screen and (max-width: 1279px) {
  .contentPage_Link {
    gap: 15px;
  }
  .link_description {
    font-size: 16px;
  }
}

/* ==================================== */

@keyframes appearance {
  from {
    opacity: 0;
    top: -15px;
  }
}
