@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("./assets/fonts/Poppins-Regular.woff") format("woff"),
    url("./assets/fonts/Poppins-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("./assets/fonts/Poppins-Bold.woff") format("woff"),
    url("./assets/fonts/Poppins-Bold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("./assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Poppins-SemiBold.woff") format("woff"),
    url("./assets/fonts/Poppins-SemiBold.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/SF-Pro-Display-Regular.woff2") format("woff2"),
    url("./assets/fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/SF-Pro-Display-Medium.woff2") format("woff2"),
    url("./assets/fonts/SF-Pro-Display-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-style: normal;
  src: url("./assets/fonts/SF-Pro-Display-Semibold.woff2") format("woff2"),
    url("./assets/fonts/SF-Pro-Display-Semibold.woff") format("woff");
  font-display: swap;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
